

      <div class="col-md-3 col-sm-6 c0l-xs-12 listing-rooms-img wow fadeInUp" data-wow-delay="0.3s">
        <div class="listing-rooms-img-inner">
          <div class="hovereffect">
          <a href="{{fields.view_node.content}}"><img src="{{ fields.field_room_image.content}}" {{ item.content['#field_collection_item'].field_featurette_image.value }} class="img-responsive" alt="Room listing image"></a>
            <div class="room-name">
              <a href="{{fields.view_node.content}}"> <p>{{ fields.field_room_name.content}}</p></a>
            </div>  
          </div>  
        </div>
      </div>