	<div class="col-md-4 col-sm-12 col-xs-12 events-image">
        <div class="listing-image">
           <a href="{{ fields.nid.content}}"><img src="{{ fields.field_events_image.content}}" alt="events-img" class="img-responsive"></a>
            <div class="Events-date">
              <p><span>{{ fields.field_date.content}}</span><br>{{fields.field_date_1.content}}</p>
            </div>
        </div>
           <div class="content">
             <p><a href="{{ fields.nid.content}}">{{ fields.title.content}}</a></p>
           </div>  
      </div>

