
<section id="yg-slider">
<div id="carouselYGHotel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
         {% for result in view.result %}
              <li data-target="#carouselYGHotel" data-slide-to="{{ loop.index-1 }}" class="{% if ( loop.index == 1 )  %}active{% endif %}"></li>
              {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
        {% for result in view.result %}
          <div class="carousel-item {% if ( loop.index == 1 )  %}active{% endif %}" style="background-image: url('{{ file_url(view.field.uri.value(view.result[loop.index-1]) | image_style('banner_slider_image')) }}')">
            <div class="container"><div class="carousel-caption d-none d-md-block wow fadeInUp">
                    <h2>{{ view.field.title.value(view.result[loop.index-1]) | striptags }}</h2>
                    <p>{{ view.field.body.value(view.result[loop.index-1]) | striptags }}</p>
                    <a href="{{ view.field.field_banner_slider_btn_link.value(view.result[loop.index-1])}}" class="btn btn-info">{{ view.field.field_banner_slider_btn_text.value(view.result[loop.index-1])}}</a>
            </div>
            </div>
          </div>
           {% endfor %}
        </div>
</div>
</section>          